<h1>Lines#index</h1>
<table class="demo">
	<caption>Table 1</caption>
	<thead>
	<tr>
		<% @lines.each do |line| %>
			<th><%=line.name %></th>
			<td>B1</td>

		<%end %>
	</tr>
	</thead>
	<tbody>

	<% @lines.each do |line| %>
			<%line.trees.order(:position).each do |tree|%> 	
				<td><%=tree.type.name %></td>
				<td>B1</td>
			<%end %>
		</tr>
		<tr>
				<td>B2</td>
				<td>B3</td>
		</tr>
	<%end %>
	</tr>
	<tbody>
</table>